<p id="notice"><%= notice %></p>

<br>

<%= form_for(@chel, remote: true) do |f| %>
  <%= f.label :firstname, 'firstname' %>
  <%= f.text_field :firstname %>

  <%= f.label :secondname, 'secondname' %>
  <%= f.text_field :secondname %>

  <%= f.label :fullname, 'last name' %>
  <%= f.text_field :lastname %>

<br />
<h1>OR</h1>
  
  <%= f.label :fullname, 'fullname' %>
  <%= f.text_field :fullname %>
  <br/>
  <br/>
  <%= f.submit "Send", id: "commit" %>
<% end %>

<br/>
<h1>Listing Chels</h1>
<ul id="chels">
  <%= render @chels%>
</ul>

